.collapse-container {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 70px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    padding: 0 20px;
    margin-bottom: 30px; 
  }
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ff6b6b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;

  h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      width: 20px;
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    background-color: #ff5252;
  }

  @media (max-width: 768px) {
    padding: 8px; 
  }
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: #F6F6F673;
}

.collapse-content-inner, p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.collapse-content.open {
  max-height: 500px;
}

.collapseAll {
  padding: 0 100px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

@media (min-width: 1201px) {
  .collapseAll {
    max-width: 1200px;
    margin: 0 auto; 
  }
}
