.BanniereAP {
    border-radius: 50px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 90%;
    filter: brightness(50%);
    
}

.BanniereProposPage{
    padding: 30px 70px;
}
