.gallerie-container {
    background-color: #F6F6F6;

    border-radius: 20px;
    margin: 70px auto;
}

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.fiche-logement {
    flex: 0 1 22%;
    margin: 30px; 
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
}

.fig-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    border-radius: 10px;
}

.image-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titre-image {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}


@media (max-width: 1200px) {
    .fiche-logement {
        flex: 0 1 30%; 
    }
}

@media (max-width: 768px) {
    .gallerie-container {
        padding: 1px 1px;
        margin: 8px;
    }

    .fiche-logement {
        flex: 0 1 45%;  
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .fiche-logement {
        flex: 0 1 100%;  
        margin: 10px;
    }
}

@media (min-width: 1201px) {
    .gallerie-container {
        max-width: 1200px; 
    }
}