.header-kasa {
    font-family: 'Montserrat', sans-serif;

    .headnavcontainer {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 30px 70px;
        margin: 0 auto; 
    }

    .logo-kasa {
        width: 135px;
    }

    .navbar {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
        }

        .nav-link {
            text-decoration: none;
            color: black;
            font-size: 18px;
            margin-left: 57px;
            position: relative;
            font-weight: 600;

            &.active {
                color: black;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    height: 3px;
                    width: 100%;
                    background-color: black;
                }
            }
        }
    }

    
    @media (min-width: 1201px) {
        .headnavcontainer {
            max-width: 1200px; 
        }
    }

    @media (max-width: 768px) {
        .headnavcontainer {
            padding: 30px 17px; 
        }

        .logo-kasa {
            width: 180px; 
        }

        .navbar .nav-link {
            font-size: 17px; 
            margin-left: 40px; 
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    @media (max-width: 480px) {
        .headnavcontainer {
            padding: 30px 17px; 
        }

        .logo-kasa {
            width: 120px; 
        }

        .navbar .nav-link {
            font-size: 15px; 
            margin-left: 25px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
