.header-kasa {
    font-family: 'Montserrat', sans-serif;
    
    .headnavcontainer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 30px 70px;
    }

  
    .navbar {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
      }
  
      .nav-link {
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin-left: 57px;
        position: relative;
        font-weight: 500;
        
        &.active {
          color: black;
          
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 2px;
            width: 100%;
            background-color: black;
          }
        }
      }
    }
  }
  